*{
    margin: 0 ;
    padding:0 ;

}
#header{
    position : absolute;
    z-index: 10;
    width: 100% ;

}
#page{
    background: black;
}
.navbar{
    padding: 50px 0 ;
}
.navbar-brand{
    font-weight: 1000;
    font-size : 3.0em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
.navbar-dark .navbar-brand{
    color: #dcdde1;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left : 10px;
}
#mainexperience{
    text-align: center;
    
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    background: #dcdde1;
    color: #262626;
}
.main{
    position: relative;
    background: url(img/bagus.jpg);
    min-height: 100vh;
    background-size:cover;
    background-position:center; 
    padding: 220px 0 200px; 
}

.main2{
    position: relative;
    background: black;
    min-height: 50vh;
    background-position:center; 
    padding:60px  100px; 

}
.main3{
    position: relative;
    background: black;
    min-height: 50vh;
    background-position:center; 
    background-size: cover;
    
    padding:240px  0 100px; 

 

}
#h1aboutme{
    font-weight: bold;
    margin-left: 0%;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FBF8F8;
    
}
#deskripsi{
    text-decoration: underline;
    font-weight: bold;
    margin-right: 0%;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FBF8F8;
    font-

}
#main5{
    position: relative;
    background: black;
    min-height: 50vh;
    background-position:center; 
    padding:5px  50px; 
    
}
#main7{
    position: relative;
    background: black;
    min-height: 50vh;
    background-position:center; 
    padding:250px  50px; 

}
#main10{
    position: relative;
    background: black;
    min-height: 50vh;
    background-position:center; 
    padding:0px  50px; 

}
#judulexperience{
    margin-top: 100px;
}
#profilePicture{
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
    max-height: 100%;
    max-width: 100%;
    
    
}
.main h2{
    position: relative;
    
    margin: 2;
    padding: 2;
    font-size: 2.6em;
    font-family:'Courier New', Courier, monospace;
    color: #FDF4F4;
    
    font-weight: bold ;
    text-align: center;
    mix-blend-mode: difference;
}
#JudulContact
{
    font-family: Raleway;
    font-size: 80px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; 
    line-height: 15.4px;
    color: #e90404;

}
#favoritefont{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    
    font-style: normal;
    font-variant: normal;
    font-weight: 700; 
    line-height: 15.4px;
    color: #e90404;

}
#JudulContact2{
    font-family: Raleway; 
    font-size: 200px;
    font-style: normal; 
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px;
    color: aqua;

}
.pengalaman{
    position: relative;
    background: black;
    min-height: 50vh; 
    padding:10px  100px;
    

}
#aku{
    color: #DDCCCC;
}
#body2{
    background: black;
}
.main .btn{
    background: #718093 ;
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px ;
}
#rowdes{
    background: black;
}
.jumbotron{
    background: black;
}
#nameHomePage{
    font-family: Seaweed Script;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration: underline;
    line-height: 33px;
    text-align: center;
    color: #FBF8F8;
}
#mic{
  
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    width : 40%;
    background-position:center; 
}
#fotomovies{
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    width : 500px;
    background-position:center; 

}
#foto2movies{
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    width : 500px;
    background-position:center; 
    height: 600px;

}
#foto3movies{
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    width : 500px;
    background-position:center; 

}
#foto4movies{
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    width : 500px;
    background-position:center; 

}
#coding2{
   
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    width : 40%;
    background-position:center; 
}
#keahlian{
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    width : 5%;
    background-position:center; 

}
#socmed{
    border-width: 5px;
    border-color: black;   
    border-style: solid;
    background-size: fixed;
	width : 10%;

}

#descHomePage{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #DDCCCC;
}
#skils{
    border-width: 10px;
    border-color: black;   
    border-style: solid;
    background-size: fixed;
    
    width:400px;
	margin-bottom: 20px;
}
#text-skills{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

color: #FFFFFF;
}
#profilePicture{
    width: 360px;
	height: 500px;
	border: 21px solid blanchedalmond;
	padding: 5px;
	margin: auto
    
}

.promo-title
{
    font-family:'Courier New', Courier, monospace;
    color: #FDF4F4;
    text-transform: uppercase ;
    font-size: 100px;
    font-weight: 600;
    margin-top: 100px;
    mix-blend-mode: difference;
}

#makarafasilkom{
    width:15%;
}
.titleexperience{
    font-family:'Courier New', Courier, monospace;
    color: #FDF4F4;
    text-transform: uppercase ;
    font-size: 50px;
    font-weight: 400;
    margin-top: 100px;
    mix-blend-mode: difference;

}
.transparent_btn{
    display: inline-block;
    font-size: 15px;
    line-height: 120%;
    color: #FFF;
    background-color:transparent;
    border: 1px solid #FFF;
    padding: 10px 12px ; 
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color ease 400ms ;

}
.transparent_btn:hover{
    color: #FFF;
    background-color:rgba(255, 255, 255,0.3);
}
.leftside, .rightside{
    height:50vh;
    width: 100% ;

}
@media screen and (min-width:768px)
{
    .leftside, .rightside{
        height: 100vh;
    }
}


.leftside{
    background:black;

}
.rightside{
    background: black;
}

@media(max-width: 800px){
    .main{
        padding : 200px 0 ;
    }
    .main h2{
        font-size: 2em; 
    }
    .main3{
        padding: 200px 0;
    }
    #favoritefont{
        font-size: 2em;
    }
    #JudulContact{
        font-size: 4em;
    }
    #JudulContact2{
        font-size: 5em;

    }

    
}


#h3manja{
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    color: white;
    font-family:'Century Gothic' ,sans-serif;
    }
#h4manjah{
     text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
    color: white;
    font-family:'Century Gothic' ,sans-serif;

    }

#fieldsetah{
        color: white;
        font-family:'Century Gothic' ,sans-serif

    }
#pajah{
        color: white;
        font-family:'Century Gothic' ,sans-serif;
        text-align: center;

    }

#skillfoto{
    padding:200px  100px;
    width: 100%; 


}
#panah{
    width: 70%;
}
#myskil{

    padding:250px  100px;
    

}
#jenis{
    border-style: outset;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
    padding:10px;
}

