            {% extends 'blog/base.html' %}
            {% load static %}
            {% block content %}
            <section>
                    <div id="main7" class="jumbotron">
                            <div class="row" id="rowdes">
                                <div class="container photoSkills col-sm-6" id="textInfo">
                                        
                                        <img src="{% static 'images/anjas.jpg' %}" alt="Nandi's Photo" id="profilePicture"  >
                                    <br>

                                    <div id="myskil">
                                            <h1 id="deskripsi"><i>MY SKILLS : </i></h1>
                                            <ul>
                                                <li id="jenis">Programming</li>
                                                <li id="jenis">Public Speaking "MC"</li>
                                                <li id="jenis">Editing Video</li>
                                                <li id="jenis">Processing Data on Excel</li>

                                            </ul>
                                           
                                    </div>
                                    


                                </div>
                           
                                <div class="container photoSkills col-sm-6" id="photoslang">
                                        <div>
                                                <form>
                                                        <fieldset id="fieldsetah" >
                                                            <legend id="deskripsi"><i>My Description</i></legend>
                                                                <table>
                                                                        <tr>
                                                                            <td>
                                                                                <b>Name : Muhammad Destara Syanandi</b> 
                                                                            </td>
                                                                            
                                                                        </tr>
                                                                        <tr>
                                                                                <td>
                                                                                        <b>NPM : 1806186856  
                                                                                        </b> 
                                                                                </td>
                                                                                
                                                                            </tr>
                                                                        <tr>
                                                                                <td>
                                                                                        <b>Umur : 18 Tahun  
                                                                                        </b> 
                                                                                </td>
                                                                                
                                                                            </tr>
                                                                        <tr>
                                                                                <td>
                                                                                        <b>Gender :Laki</b> 
                                                                                </td>
                                                                                
                                                                            </tr> 
                                                                        <tr>
                                                                                <td>
                                                                                        <b>Email :destarasyanando@gmail.com</b> 
                                                                                </td>
                                                                                
                                                                                </tr>    
                                                                        
                                                                       <tr>
                                                                            <td>
                                                                                <b>Deskripsi Singkat : </b>
                                                                                <p id="pajah">“Hello , my name is Muhammad Destara syanandi. <br> Im a  Computer 
                                                                                        Science Student at Universitas Indonesia. <br>
                                                                                        My passion si programming and public speaking.”
                                                                                </p>
                                                                            </td>
                                    
                                                                       </tr>
                                                                    </table>
                                                        </fieldset>
                                                    
                                                </form>
                                        </div>
                                        <img src="{% static 'images/keren.jpg' %}" alt="mic" id="mic">
                                        <img src="{% static 'images/asik2.jpg' %}" alt="coding" id="coding2">

                                        <br>


                                        <img src="{% static 'images/aselole.jpg' %}" alt="skill" id="skillfoto">
                
                                </div>
                            </div>  
                        </div>
            </section>
            
            {% endblock %}


            
       
               
        
                    
                    
        
        
        
        
               
        