    {% extends 'blog/base.html' %}
    {% load static %}
    {% block content %}
    <section class="main3">
            <div class="container text-center">
                    <h3 id="favoritefont">
                            My Favorite Movies
                    </h3>
                    
                    
            </div>                       
        </section>
         <section>
                    <div id="main10" class="jumbotron">
                            <div class="row" id="rowdes">
                                <div class="container photoSkills col-sm-6" id="textInfo">
                                    <div>
                                            <img src="{% static 'images/inception.jpg' %}" alt="inception" id="fotomovies">
                                            <br>
                                            <br>
                                            <img src="{% static 'images/shaw.jpg' %}" id="foto2movies">
                                    </div>
                                
                            
                                        

                                    
                                    


                                </div>
                                
                           
                                <div class="container photoSkills col-sm-6" id="photoslang">
                                        <div>
                                                <img src="{% static 'images/Inter.jpg' %}" alt="intersterllar" id="foto3movies">
                                                <br>
                                                <br>
                                                <img src="{% static 'images/fight.jpg' %}" alt="fightClub" id="foto4movies"> 
                                            
                                        </div>
                                        

                
                                </div>
                            </div>  
                        </div>
            </section>

            {% endblock %}

   
        
                
        
            
   
        
                
                

            
            
       
            
        
                    
                    
        
        
        
        
               
      