    {% extends 'blog/base.html' %}
    {% load static %}
    {% block content %}
    <section class="main3">
            <div class="container text-center">
                    <h3 id="JudulContact">
                            Let’s Get 
                    </h3>
                    <br>
                    <br>
                    <br>
                    <h1 id="JudulContact2">
                            Connected!
                    </h1>
            </div>                       
        </section>
        <section class="main5">
                <div class="container text-center">                      
                    <a href="https://www.instagram.com/destarass/"><img src="{% static 'images/Linkedin.jpg' %}" alt="Linkedin" id="socmed">  </a>
                    <a href="https://www.instagram.com/destarass/"><img src="{% static 'images/download.png' %}" alt="Photo of instagram" id="socmed" ></a>                                   
                    <a href="https://twitter.com/Destara57093854"><img src="{% static 'images/twitter.jpg' %}" alt="Photo of twitter" id="socmed" ></a>
                </div>                       
            </section>
    {% endblock %}
   
        
                
        
            
   
        
                
                

            
            
       
            
        
                    
                    
        
        
        
        
               
