{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <section class="main2">
            <div class="container text-center">
                    <p class="titleexperience" >MY EXPERIENCE <br>IN </p>
                    <img src="{% static 'images/110px-Makara_FASILKOMUI.png' %}" alt="makaraui" id="makarafasilkom">  
                    <br> 
                    <img src="{% static 'images/cgt.jpg' %}" alt="Photo of cgt" id="cgt" >
                    <img src="{% static 'images/compfest.jpg' %}" alt="Photo of compfest" id="cmp" >
                    <img src="{% static 'images/pmb.jpg' %}" alt="Photo of pmb" id="pmb" class="codelang rightie upper">
            </div>                       
        </section>

 {% endblock %}

   
        
                
        
            
   
        
                
                

            
            
       
            
        
                    
                    
        
        
        
        
               
      