{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <section class="main">
        <div class="container text-center">
                <p class="promo-title" >HELLO,I’m Nandi!  </p>
                <h2> WELCOME TO</h2>
                <h2 >My WEB Profile</h2>
                <a href="{% url 'homepage:about' %}" class="transparent_btn">Click ME!</a>
        </div>
            
    </section>

 {% endblock %}


