{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center align-items-center row3" id="form1">
                <h1 class="formText" id="favoritefont">To-Do List</h1>
</div>

<div class="row justify-content-center align-items-center row2 form" id="form2">
    <div class="col-md-4">
        <div class="container backforms" >
            <div class="article" >
                 <a href="{% url 'homepage:schedule' %}"></a>
                 <div class="article">
                 <div class="row">
                    {% for schedule in schedules %}
                        <div class="col-sm-5 text-center isinya1" >
                            <div class="wrap-group">

                                    <h2 id="Judul">{{ schedule.activity }}</h2>
                                    <div class="border">
                                            <p id="isi">{{ schedule.date.date }}</p>
                                            <p id="isi">{{ schedule.time}}</p>
                                            <p id="isi">{{ schedule.place }}</p>
                                            <p id="isi">{{ schedule.category }}</p>
                                            <br>
                                            <a href="{% url 'homepage:schedule_hilang' id=schedule.id %}"><button type ="button" class="btn btn-danger btn-sm mt-3">Delete</button></a>
                                            
                                             
                                    </div>
                                    
                            </div>
                            

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



    <div class="row justify-content-center align-items-center row2 buttonadd">
        <div class = 'col-md-2'>
            <div class = 'form-group'>
                <a href="{% url 'homepage:schedule_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
                <a href="{% url 'homepage:schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
            </div>
        </div>
    </div>

 {% endblock %}