
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}



<div class="row justify-content-center align-items-center row3 form" id = "form1">
    <div class="container backforms">
        <form class="css" action="{% url 'homepage:schedule_create' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-1"></div>
                    <div class="form-group col-sm-10" id="isibox">
                        {% for fields in form %}
                            {{ fields.label_tag }}
                            <br>
                            {{ fields }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">  
                <div class="col-sm-1"></div>
                <input type="submit" class="btn btn-primary " value="Add">
            </form>
            </div>
        </div>
        </div>
        </div>


{% endblock %}